
body {
	text-align: center;
}

.all {
	width: 40%;
	margin: 20px 100px;
	text-align: center;
	height: 300px;
	float: left;
	text-align: left;
}

table {background: blue;
	width: 80%;
	margin: 20px auto;
	font-size: 14px;
	overflow: auto;
}

table tr, table td {
	border-bottom: 1px #000 solid;
	line-height: 23px;
}

#edit_comm {
	width: 500px;
	margin: 20px auto;
	border-left: 3px solid #000; <!--
	display: none;
	-->
}

#add_comm {
	width: 500px;
	height: 300px;
	margin: 20px auto;
	border-left: 3px solid #000;
}

#all_comm {
	height: 600px;
}

.edit_stu {
	width: 500px;
	height: 30px;
	background: blue;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 18px;
	border: none;
	border-bottom: 3px solid #000;
	margin: 20px 10px;
}

table tr td{border-top:1px solid black;border-left:1px solid black;
}
table col:first-child {background: #FF0}
table col:nth-child(2n+3) {background: #CCC}

